/* style.css */

body {
  font-family: 'Arial', serif;
  margin: 0;
  padding: 0;
  background-color: white;
  
}

header {
  text-align: center;
  padding: 20px;
  /* font-weight: lighter; */
  /* background-color: #333; Add background color for header */
  color: black; /* Text color for header */
}
.backg{
  background-image: url('images/back.svg');
  background-size: cover;
  background-position: center;
  height: 350px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

form {
  display: flex;
  align-items: center;
  width: 70%; 
}
#stockSearchForm{
  border: 0.1px solid #ddd; /*White border*/
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}
#errorSection{
  display: flex;
  align-items: center;
  width: 70%;
  border: 0.1px solid #ddd; /*White border*/
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px white; 
  background-color: rgb(210, 209, 209);
  padding: 1em;
}
#stockTicker {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
}

button {
  background-color: rgb(255, 253, 253); /* Green background color for buttons */
  color: #fff; /* Text color for buttons */
  border: none;
  align-items: center;
  width: 40px; /* Adjust the size as needed */
  display: flex; /* Ensures that the button behaves like a flex container */
  align-items: center; 
  height: 40px;
  width: 40px;

  /* border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  height: 40px; */
  /* margin-left: 10px; */
}
#searchButton{
  background-image: url('images/search-solid.svg');
  background-size: 60% 60%;
  background-position: center;
  /* height: 20px;
  width: 20px; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-repeat: no-repeat;
}

#clearButton{  
  background-image: url('images/times-solid.svg');
  background-size: 60% 60%;
  background-position: center;
  /* height: 20px;
  width: 20px; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-repeat: no-repeat;
}

#result{
  display:none;
  justify-content: center;
  
}

/* CSS for centered tabs and table */
.tabs-container {
  display: flex;
  /* justify-content: center; */
  /* margin:0 65px; */
  /* width: 3em; */
}

.out-cont{
  /* margin: 0 65px; */
  margin: 0 8em;
  background-color: aliceblue;
}

.tab {
  display: inline-block;
  padding: 20px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px 5px 0 0;
  background-color: #f2f2f2;
  margin-right: -5px; /* Remove gaps between tabs */
}

.tab:hover {
  background-color: #e6e6e6;
}

.tab.active {
  background-color: #ccc; /* Grey background for active tab */
}

.tab-content table {
  margin: auto;
  border-collapse: collapse;
}

.tab-content table td {
  padding: 10px;
  border-top: 1px solid #ccc; /* Top border */
  border-bottom: 1px solid #ccc;
  /* border: 1px solid #ccc; Only row borders for table */
}

.tab-content table td:first-child {
  font-weight: bold;
}

.company-info {
  text-align: center;
  margin-top: 30px;
}

.company-info img {
  width: 100px; /* Adjust the size of the logo */
  height: 100px; /* Adjust the size of the logo */
  margin-bottom: 20px;
}

