
        body {
            font-family: Times, serif;
            padding: 0;
            background-color: #ffffff;
        }

        nav {
            background-color: #ffffff;
            /* color: #fff; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2em;
            position: sticky;
            top: 0;
            z-index: 100;
        }

        nav a {
            color: black;
            text-decoration: none;
            padding: 1em;
            margin: 0 0.5em;
        }

        main {
            padding: 2em;
        }

        
        footer {
            background-color: #a98f55;
            color: #fff;
            text-align: center;
            padding: 5em;
            position: relative;
            z-index: 2;
            margin: 5em;
        }

        /* Footer Columns */
        .footer-columns {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .column {
            width: 20%; /* Adjust the width as needed */
            text-align: left;
            padding: 0 1em;
        }

        .column:nth-child(1),
        .column:nth-child(2) {
            border-right: 2px solid #fff;
            height: 80px;
        }

        /* Fourth column (button) */
        .button-column {
            width: 40%; /* Adjust the width as needed */
        }

        /* Button styling */
        .button {
            /* background-color: #fff; */
            color: white;
            padding: 0.5em;
            text-decoration: none;
            display: inline-block;
            /* border-radius: 5px; */
            border: 2px solid white;
            width:200px;
            align-items: center;
        }

        .scrollable-content {
            position: relative;
            z-index: 1;
            margin: 5em;
        }

        .background-image {
            background-size: cover;
            background-position: center;
            background-attachment: fixed; /* Set the background attachment to fixed */
            height: 600px;
            position: relative;
        }
        
        .child-1 {
            background-image: url('images/image3.png'); /* Replace with your image path */
        }
        
        .child-2 {
            background-image: url('images/image2.png'); /* Replace with your image path */
        }

        .centered-text {
            text-align: center;
            color:white;
            font-size:50px;
            padding:1.5em;
            letter-spacing: 0.3em;
            line-height: 1.5em;
        }

        .services-section {
            display: flex;
            background-color: #fff;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            align-items: stretch;
            height: 500px;
        }

        .services-column {
            flex: 1.5; /* Adjust the flex value to make it less wide */
            margin-right: 50px; /* Adjust the margin as needed for space between columns */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #a18a4f;
        }
        
        .services-column h2 {
            margin-bottom: 10px;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            letter-spacing: 0.4em;
            line-height: 1em;
            font-weight: 100;
        }
        
        .services-column img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            margin-bottom: 10px;
        }
        
        .services-column p {
            text-align: center;
            color: white;
            letter-spacing: 0.2em;
        }
        
        .services-column a {
            display: inline-block;
            margin: 0 auto;
            text-align: center;
            padding: 1em;
            /* background-color: #a98f55; */
            color: #fff;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            /* border-radius: 5px; */
        }
        
        
        .image-column {
            flex: 3;
            
        }

        .image-column img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .services-column{
            background-color: #a18a4f;
            margin-right: 40px;
            /* width: 30%; */
        }

        .services-column h2 {
            margin-bottom: 10px;
            
        }

        .services-column img,
        .gallery-column img {
            width: 100%;
            
            margin-bottom: 10px;
        }

        .testimonial-section {
            background-color: #fff;
            padding: 20px;
            text-align: center;
        }

        .testimonial-content {
            position: relative;
            margin-bottom: 20px;
        }

        .quote {
            font-size: 36px;
            font-weight: bold;
            position: absolute;
            top: 0;
            left: 0;
        }

        .arrows {
            font-size: 24px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }

        .gallery-section {
            /* background-image: url('images/image2.png'); Replace with your second background image path */
            background-size: cover;
            background-position: center;
            height: 400px; /* Set the height of the background image section */
            position: relative;
        }

        .gallery-column {
            color: #fff;
            text-align: center;
        }
