<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>Stock Search App</title>
</head>
<body>
  <section class="backg">
    <header>
        <h1>Stock Search</h1>
    </header>

    <main>
        <form id="stockSearchForm">
            
            <button type="submit" id="searchButton" onclick="searchStock()">
            </button>
            <input type="text" id="stockTicker" placeholder="Enter Stock Ticker Symbol" required>
            <button type="button" id="clearButton" onclick="clearResult()">
            </button>
        </form>
        <div id="searchResult"></div>
        <br><br>
    </main>
  </section>
  <section>
    <main>
      <div id="errorSection" style="display: none;"></div>
    </main>
  </section>
<!-- 
        <div id="stockDetailsTabs">
            Result area will be displayed here
        </div>
    </main> -->

    <footer>
        <!-- Your footer content, if any -->
    </footer>
</body>
</html>
